/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: R;
}
body {
    font-family:"Open Sans", sans-serif;
    color: #444444;
}

#wrapper{
    position: relative;

}
ul {
    list-style: none;
}
.clear {
    clear: both;
}
img {
    max-width: 100%;
}
.float-right {
    float: right !important;
}
.padding-25 {
    padding-left: 25px;
}
.col {
    float: left;
    padding-left: 12px ;
    padding-right: 12px ;
    text-align: left;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
    max-width: 100%;
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.col-third {
    width: 33.33333%
}
.text-center {
    text-align: center !important;
}
button {
    background-color: #fd680e;
    color: #fff;
    margin: 10px;
}
a {
    text-decoration: none;
    color: #fd680e;
}

#header{
    height: 80px;
    padding: 20px 0;
    z-index: 10;
    position: absolute;
    left: 15px;
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.siimple-logo {
    font-size: 36px;
    line-height: 1;
    font-weight: 100;
    letter-spacing: 3px;
    color: #fff;
}
#header .nav-button {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: rgba(34, 34, 34, 0.5);
    line-height: 1;
    cursor: pointer;
    text-align: right;
    padding: 10px 12px;
    border-radius: 2px;
}
.nav-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -340px;
    z-index: 9999;
    overflow-y: auto;
    width: 340px;
    padding-top: 18px;
    
}
.nav-menu .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0px;
    z-index: 10000;
    overflow-y: auto;
    width: 260px;
    padding-top: 18px;
    background: rgba(34, 34, 34, 0.8);
    
}
.sub-nav {
    display: none;
}

.nav-menu a:hover {
    color: #ffa26a;
}
.js-nav-menu {
    right: 0 !important;
}
.js-nav-button {
    display: none;
}
.nav-close-button {
    right: 40px;
    top: 15px;
    z-index: 9999;
    border: 0;
    background: rgba(34, 34, 34, 0.5);
    line-height: 1;
    cursor: pointer;
    text-align: right;
    padding: 10px 12px;
    border-radius: 2px;
}
.nav-menu a, .nav-menu a:focus {
    display: block;
    position: relative;
    color: #ffd2b7;
    padding: 10px 20px;
    font-weight: 500;
}


#content{
    width: 100%;
}
.welcome {
    position: relative;
    background: url('/assest/img/background-header/background.jpg') center center;
    background-size: cover;
    background-repeat: no-repeat;
 
}
#content .welcome-container {
    
    padding: 0 15px;
    height: 570px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
#content .welcome-text {
    font-family: "Raleway-ExtraLight", sans-serif;
    top: 50%;
}
#content .welcome-header {
    font-size: 48px;
    font-weight: 400;
    color: #222;
    margin-bottom: 10px;
    
}
#content .welcome-desc {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}  
.welcome-form {
    width: 556px;
    margin-left: auto;
    margin-right: auto;
}  
.form-control {
    margin: 0 8px;
    padding: 0 15px 2px 20px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    letter-spacing: 1px;
    width: 250px;
    height: 40px;
}
.submit-btn {
    padding: 8px 30px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    line-height: 1.6;
}
.welcome-input {
    margin-bottom: 10px;
}

.des-container {
    padding: 80px 0;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.des-img {
    height: auto;
}
.des-title {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 8px;
    line-height: 1.2;
}
.des-subtitle {
    font-style: italic;
    margin-bottom: 16px;
    font-size: 16px;
}
.des-list {
    margin-bottom: 16px;
}
.des-list li, .des-text{
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    
}
.des-list i {
    margin-right: 10px;
}
.why-us {
    background-color: #fff7f2;
    padding: 80px 0 60px 0;
}
.why-us-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.why-us .card {
    background-color: #fff;
    line-height: 1.5;
    letter-spacing: 0.8px;
    border-radius: 3px;
    box-shadow: 0px 2px 15px rgba(0 ,0 ,0, 0.1);
}
.card-img {
    border-radius: 3px;
}
.card-body {
    padding: 0px 16px 16px 16px;
}
.card-icons {
    background-color: #fd680e;
    font-size: 22px;
    color: #fff;
    padding-top: 13px;
    border-radius: 50%;
    border: 4px solid #fff;
    width: 64px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
}
.card-title {
    font-weight: 700;
    font-size: 20px ;
    color: #743e1d;
    cursor: pointer;
    margin-bottom: 8px;
    margin-top: -20px;
}
.card-text {
    color: #5e5e5e;
    font-size: 16px;
    text-align: left;
}
.why-us .card:hover .card-icons {
    background-color: #fff;
    color: #fd680e;
}
.card-title:hover {
    color: #fd680e;
}
.asked-questions {
    padding: 80px 0 60px 0;
    
}
.asked-container {
    padding: 0 12px 0 12px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    
}
.section-header {
    text-align: center;
    position: relative;
    margin-bottom: 45px;
    padding-bottom: 15px;
    font-size: 32px;
    font-weight: 100;
}
.asked-container h2::after, .contact-container h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 80px;
    height: 1.8px;
    background: #fd680e;
    bottom: 0;
    left: calc(50% - 40px);
}

.asked-list {
    list-style: none;
}
.asked-list p {
    padding: 10px 0 0 0;
    font-size: 18px;
}

.asked-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #343a40;
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.8px;
}
.asked-list li :hover {
    color: #fd680e;
}
.asked-hidden {
    /* display: none; */
}

.contact {
    background-color: #fff7f2;
    padding: 80px 0 80px 0;
}
.contact-container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.contact-content {
    display: flex;
    justify-content: center !important;
    flex-wrap: wrap;
}
.col-left{
    padding-left: 12px;
    padding-right: 12px;
    
    width: 40%;
}
.col-right {
    padding-left: 12px;
    padding-right: 12px;
    width: 60%;
    
}
.col-left p {
    padding-bottom: 10px;
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 22px;
    
}
.info i {
    padding-right: 36px;
    font-size: 26px;
    color: #fd680e;
    float: left;
}
.social-link i {
    background-color: #5a2c10;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}
.mail-form {
    border-radius: 0%;
    box-shadow: none;
    font-size: 14px;
}
.contact-form {
    
    width: 100%;
    padding: 6px 12px 6px 12px;   
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-top: 16px;
    border: 1px solid #ced4da;
}
.contact-form-first {
    width: 100%;
    padding: 6px 12px 6px 12px;   
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: 1px solid #ced4da;
}
.col-right .form-button {
    background: #fd680e;
    border: 0;
    color: #fff;
    padding: 10px 24px 10px 24px;
    margin: 16px 0 0 0;
}
textarea.form-control {
    min-height: 35px;
}
textarea {
    resize: vertical;
}
#footer{
    background: #2f1708;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
}
.copyright {

    text-align: center;
}
.credit {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}